<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SPORT TIME ENTERPRISE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>

<div class="container">

    <h1>WITAJ ZAWODNIKU</h1>
    <br>
</div>

<div>
    <table class="table">
        <thead class="table-dark">
        <h2>OTO DOSTĘPNE IMPREZY SPORTOWE:</h2>


        <form action="#" th:action="@{/competitor}" method="GET">

        </form>


        <tr>
            <th>NR ID</th>
            <th>NAZWA IMPREZY</th>
            <th>MAX. ILOŚĆ ZAWODNIKÓW</th>
            <th>ORGANIZATOR</th>
            <th>MIASTO</th>
            <th>RODZAJ ZAWODOW</th>
            <th>DATA STARTU ZAWODÓW</th>
            <th>DATA ZAKOŃCZENIA ZAWODÓW</th>
            <th>DYSTANS[km]</th>
            <th>WPISOWE[PLN]</th>
            <th>PROGNOZA POGODY</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="TournamentDTO : ${availableTournament}">
            <td th:text="${TournamentDTO.id}"></td>
            <td th:text="${TournamentDTO.namOfTournament}"></td>
            <td th:text="${TournamentDTO.numbersOfStartPlates}"></td>
            <td th:text="${TournamentDTO.nameOfOrganizer}"></td>
            <td th:text="${TournamentDTO.city}"></td>
            <td th:text="${TournamentDTO.sportCategories}"></td>
            <td th:text="${TournamentDTO.startOfTournament}"></td>
            <td th:text="${TournamentDTO.endOfTournament}"></td>
            <td th:text="${TournamentDTO.distance}"></td>
            <td th:text="${TournamentDTO.buyIn}"></td>

            <td>
                <form action="#"
                      th:action="@{weather/{city}(city = ${TournamentDTO.city})}" method="POST">
                    <input type="submit" value="SPRAWDŹ AKTUALNĄ POGODĘ" name="button"/>
                </form>
            </td>
        </tr>
        <br>
        </tbody>
    </table>
</div>


<div class="container">
    <div><h2>STREFA ZAPISU DO ZAWODÓW:</h2></div>

    <div class="col-sm">

        <div class="col-sm">

            <h3>JESTEŚ ZAREJESTROWANYM ZAWODNIKIEM:</h3>
            <br>
            <br>
            <form action="#" th:action="@{/competitor/addExisting}" method="POST">
                <div class="form-group">
                    ADRES EMAIL: <input type="text" th:name="email"/>
                    PODAJ ID ZAWODÓW: <input type="text" th:name="tournamentId"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz się" name="button"/>
                </div>
            </form>

        </div>
    </div>


    <div class="container">
        <table class="table">
            <thead class="table-dark">

            <h3>SPRAWDŹ HISTORIĘ STARTÓW:</h3>
            <form action="#" th:action="@{/competitor/showHistory}" method="GET">
                <div class="form-group">
                   PODAJ EMAIL: <input type="text" th:name="email"/>
                    <div class="form-group">
                        <input type="submit" value="Pokaż wyniki" name="button"/>
                    </div>
                </div>
            </form>

            <tr>
                <th>NUMER STARTOWY</th>
                <th>IMIĘ</th>
                <th>NAZWISKO</th>
                <th>KATEGORIA WIEKOWA</th>
                <th>MIASTO</th>
                <th>CZAS</th>
                <th>ŚREDNIA PRĘDKOŚĆ</th>
                <th>OSIĄGNIĘTE MIEJSCE:</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="CompetitorDTOs : ${historyOfCompetitor}">
                <td th:text="${CompetitorDTOs.startNumber}"></td>
                <td th:text="${CompetitorDTOs.name}"></td>
                <td th:text="${CompetitorDTOs.surname}"></td>
                <td th:text="${CompetitorDTOs.ageCategories}"></td>
                <td th:text="${CompetitorDTOs.city}"></td>
                <td th:text="${CompetitorDTOs.result}"></td>
                <td th:text="${CompetitorDTOs.averageSpeed}"></td>
                <td th:text="${CompetitorDTOs.place}"></td>
            </tr>

            <br>
            <br>
            </tbody>
        </table>
    </div>

</div>


<div class="row mt-3">
    <div class="col-md-4">
        <a th:href="@{/}" class="btn btn-info" role="button">POWRÓT DO STRONY STARTOWEJ</a>
    </div>
</div>
</body>
</html>
