<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>SPORT TIME ENTERPRISE</title>

</head>


<body>
<div class="main-content">

<h1 >WITAMY NA STRONIE SPORT TIME ENTERPRISE</h1>
    <br>
</div>

<a th:href="@{/competitor}" class="add-btn">ZAWODNIK</a>
<br><br>
<a th:href="@{/organizer}" class="add-btn">ORGANIZATOR</a>
<br><br>
<a th:href="@{/administrator}" class="add-btn">ADMINISTRATOR</a>
<br><br>


</div>

</div>
</body>
</html>
