<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SPORT TIME ENTERPRISE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
<div>

    <table class="table">
        <form action="#" th:action="@{/tournament_management}" method="GET">
            <tr>
                <th>ID ZAWODÓW</th>
                <th>NAZWA ZAWODÓW</th>
                <th>RODZAJ ZAWODÓW</th>
                <th>DATA ROZPOCZĘCIA</th>
                <th>DATA ZAKOŃCZENIA</th>

            </tr>

            <tr th:each="tournament : ${allTournaments}">

                <td th:text="${tournament.tournamentId}"></td>
                <td th:text="${tournament.namOfTournament}"></td>
                <td th:text="${tournament.sportCategories}"></td>
                <td th:text="${tournament.startOfTournament}"></td>
                <td th:text="${tournament.endOfTournament}"></td>

            </tr>
        </form>
    </table>


</div>


<div>
    <table class="table">
        <form action="#" th:action="@{/tournament_management/result}" method="GET">

            <div class="form-group">
                ID ZAWODÓW: <input type="text" th:name="tournamentId"/>
                <div class="form-group">
                    <input type="submit" value="Pokaż wyniki" name="button"/>
                </div>
            </div>
        </form>

        <thead>
        <table class="table">
            <tr>
                <th>ID ZAWODÓW</th>
                <th>NAZWA ZAWODÓW</th>
                <th>RODZAJ ZAWODÓW</th>
                <th>DATA ROZPOCZĘCIA</th>
                <th>DATA ZAKOŃCZENIA</th>
                <th>GODZINA STARTU ZAWODNIKÓW</th>
                <th>USTAW GODZINĘ STARTU</th>
            </tr>


            <tr>

                <td th:text="${tournamentDTO!=null}?${tournamentDTO.tournamentId}: '###'"></td>
                <td th:text="${tournamentDTO!=null}?${tournamentDTO.namOfTournament}: '###'"></td>
                <td th:text="${tournamentDTO!=null}?${tournamentDTO.sportCategories}: '###'"></td>
                <td th:text="${tournamentDTO!=null}?${tournamentDTO.startOfTournament}: '###'"></td>
                <td th:text="${tournamentDTO!=null}?${tournamentDTO.endOfTournament}: '###'"></td>
                <td id="id" th:text="${tournamentDTO!=null}?${tournamentDTO.startOfCompetitors}: '###'"></td>
                <td>
                    <form action="#"
                          th:action="@{/tournament_management/set_start_of_competitors/{id}(id = ${tournamentDTO!=null}?${tournamentDTO.tournamentId})}"
                          method="POST">
                        <input id="newId" type="submit" value="USTAW" name="button"/>
                    </form>
                </td>
            </tr>
        </table>

        ####################################
        <table class="table">

            <tr>
                <th>NUMER STARTOWY</th>
                <th>IMIĘ</th>
                <th>NAZWISKO</th>
                <th>KATEGORIA WIEKOWA</th>
                <th>MIASTO</th>
                <th>CZAS</th>
                <th>ŚREDNIA PRĘDKOŚĆ</th>
                <th>CZAS STARTU:</th>
                <th>OSIĄGNIĘTE MIEJSCE:</th>
                <th>CZAS FINISZU:</th>

            </tr>
            <tbody>
            <tr class="jakkolwiek" th:each="CompetitorDTOs : ${result}">
                <td th:text="${CompetitorDTOs.startNumber}"></td>
                <td th:text="${CompetitorDTOs.name}"></td>
                <td th:text="${CompetitorDTOs.surname}"></td>
                <td th:text="${CompetitorDTOs.ageCategories}"></td>
                <td th:text="${CompetitorDTOs.city}"></td>
                <td th:text="${CompetitorDTOs.result}" class="result"></td>
                <td th:text="${CompetitorDTOs.averageSpeed}"></td>
                <td th:text="${CompetitorDTOs.tournamentDTO.startOfCompetitors}"></td>
                <td th:text="${CompetitorDTOs.place}"></td>


                <td>
                    <form action="#"
                          th:action="@{/tournament_management/set_result/{st}/{id}(st = ${CompetitorDTOs.startNumber},id = ${CompetitorDTOs.tournamentDTO.tournamentId})}"
                          method="POST">


                        <input class="submit" name="submit" type="submit" value="Submit" onclick="eatFood();"/>

                    </form>
                </td>


            </tbody>
        </table>
    </table>
    <h2>YoMAn</h2>
    <div class=" row mt-3">
        <div class="col-md-4">
            <a th:href="@{/}" class="btn btn-info" role="button">POWRÓT DO STRONY STARTOWEJ</a>
        </div>
    </div>

</div>
</body>
<script>
    var a= document.getElementById("id");
   var b = document.getElementById("newId");
   if(a.textContent){
   b.setAttribute("disabled",true);
   }

   var d = document.querySelectorAll(".submit");

  d.forEach(item=>{
    var c= item.parentNode.parentNode.parentNode.querySelector(".result").textContent;
      if(c){
  item.style.display = "none";
   }
  })


</script>

</html>